<div class="card mb-3">	
	<div class="card-body">
				<h2>{{this.title}}</h2>
				<p>Company: {{this.company}}</p>
				<p>Specialty: {{this.specialty}}</p>
				<p>Level: {{this.level}}</p>
				<p>City: {{this.city}}</p>
				<hr>
	</div>
</div>
