<form action="/edit-event/{{event._id}}" method="POST" enctype="multipart/form-data">
	<label>Title:
		<input type="text" name="title" id="title" value="{{event.title}}">
	</label>
	<br><br>

	<label for="description">Description:</label>
	<input type="text" name="description" id="description" value="{{event.description}}">
	<br><br>

	<label for="date">Date:</label>
	<input type="datetime-local" name="time" id="time" value="{{event.time}}">
	<br><br>

	<label for="city">City:</label>
	<input type="text" name="city" id="city" value="{{event.city}}">
	<br><br>

	<label for="price">Price:</label>
	<input type="text" name="price" id="price" value="{{event.price}}">
	<br><br>

	<label for="location">Location</label>
  <input type="text" name="latitude" placeholder="latitude" value="{{event.latitude}}">
  <input type="text" name="longitude" placeholder="longitude" value="{{event.longitude}}">
	<br><br>
	<label for="add-picture">Add Picture
		<br>
	<img src="{{event.imagePath}}" alt="image Name">
	<input type="file" name="event-pic" id="event-pic">
	</label>
	<br><br>

	<button type="submit">Add event</button>

</form>