<div class="container d-flex mb-3">
  <nav class="sidebar-events col-3">
    {{> sidebar}}
  </nav>
  <div class="col-8 card-content-pages">
    <h3>Upcoming Events:</h3>
    {{#each events}}
    <div class="card mb-3">
      <div class="card-body d-flex box-events-card">
        <div class="pic-and-name">
          <h4 class="mb-3"><a href="/event/{{this._id}}">{{this.title}}</a></h4>
          {{#if this.date}}
          <p>Date: {{this.date}}</p>
          {{/if}}
          {{#if this.time}}
          <p>Time: {{this.time}}</p>
          {{/if}}
          {{#if this.city}}
          <p>City: {{this.city}}</p>
          {{/if}}
          {{#if this.price}}
          <p>Price: {{this.price}}</p>
          {{/if}}
        </div>
        <div class="events-pic">
          {{#if this.imagePath}}
          <img src="{{this.imagePath}}" class="image-events" alt="event image">
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>