<div class="container d-flex">
  <nav class="sidebar-events">
    {{> sidebar}}
  </nav>
	<div class="card col-8 card-">
		<div class="card-body event-page">
            <h1>{{event.title}}</h1>
            <img src="{{event.imagePath}}" alt="{{event.imageName}}">
            <h3>{{event.date}}</h3>
            <p>{{event.city}}</p>
            <p>{{event.price}}</p>
            <p>Created at: {{event.createdAt}}</p>
			{{!-- make sure this user is the author --}}
			{{!-- {{#if user}} --}}
			<a href="/edit-event/{{event._id}}">Edit this event</a>
            <br>
            <a href="/delete-event/{{event._id}}">Delete this event</a>
			{{!-- {{/if}} --}}
		</div>
	</div>
</div>