<div class="container d-flex">
 <nav class="sidebar-events">
   {{> sidebar}}
 </nav>
    <div class="col-8 card-events">
       <h3>Upcoming Events:</h3>
        {{#each events}}
          <div class="card mb-3"> 
            <div class="card-body">
               <h4><a href="/event/{{this._id}}">{{this.title}}</a></h4>
               <img src="{{this.imagePath}}" class="image-events" alt="event image">
               <p>{{this.date}}</p>
               <p>{{this.city}}</p>
               <p>{{this.price}}</p>
               <a href="/event/{{this._id}}">See more</a>
            </div>
        </div>
      {{/each}}
    </div>
</div>