<img src="{{event.imagePath}}" alt="{{event.imageName}}">
<h1>{{event.title}}</h1>
<h3>{{event.date}}</h3>
<p>{{event.city}}</p>
<p>{{event.price}}</p>
<p>Created at: {{event.createdAt}}</p>
<a href="/delete-event/{{event._id}}">Delete this event</a>