<div class="container d-flex mb-4">
	<nav class="sidebar-openings mt-3 col-3">
		{{> sidebar}}
	</nav>
	<div class="card col-8 card-content-pages">
		<div class="card-box p-3">
			<h1 class="mb-3">{{opening.title}}</h1>
			<p>Description: {{{opening.description}}}</p>
			<p>Company: {{opening.company}}</p>
			<p>Salary: {{opening.salary}}</p>
			<p>Requirements: {{{opening.requirements}}}</p>
			<p>Specialty: {{opening.specialty}}</p>
			<p>Type: {{opening.type}}</p>
			<p>Level: {{opening.level}}</p>
			<p>City: {{opening.city}}</p>
			{{#if opening.link}}
			<a href="{{opening.link}}">Apply to this position</a>
			{{/if}}

			{{#if isOwner}}
			<a href="/edit-opening/{{opening._id}}">Edit this opening</a>
			{{/if}}
		</div>
	</div>
</div>