<div class="container d-flex">
  <nav class="sidebar-openings col-3 mt-3">
    {{> sidebar}}
  </nav>
	<div class="col-8 card-content-pages">
		{{#each openings}}
		<div class="card mb-3">	
			<div class="card-body">
				<h2>{{title}}</h2>
				<p>Company: {{company}}</p>
				<p>Specialty: {{specialty}}</p>
				<p>Level: {{level}}</p>
				<p>City: {{city}}</p>
				<p><a href="/opening/{{_id}}">Find out more</a></p>
			</div>
		</div>
		{{/each}}
	</div>
</div>