<h1>Openings</h1>
{{#each openings}}
	<p>{{this.title}}</p>
	<p>{{this.description}}</p>
	<p>{{this.company}}</p>
	<p>{{this.salary}}</p>
	<p>{{this.requirements}}</p>
	<p>{{this.type}}</p>
	<p>{{this.level}}</p>
	<p>{{this.city}}</p>
{{/each}}