<div class="container d-flex post-content my-3">
  <nav class="sidebar-post col-3">
    {{> sidebar}}
  </nav>
  <div class="card post-card col-8">
    <div class="card-body post">
        <h1>{{post.title}}</h1>
        <img src="{{post.imagePath}}" alt="{{post.imageName}}">
        <p>{{{post.text}}}</p>

        {{#if isAuthor}}
          <button class="btn btn-primary"><a href="/edit-post/{{post._id}}">Edit</a></button>
        {{/if}}
    </div>
  </div>
</div>
